body {
  background-color: black;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header {
  display: flex;
  justify-content: flex-starts;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: darkred;
  text-shadow: none;
  border-radius: 10px;
}
header h1 {
  margin-left: 50px;
}
header .menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
header .menu a {
  margin-right: 100px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: white;
}

section {
  /*firefox*/
  scrollbar-width: none;
  /* Chrome et Safari*/
}
section::-webkit-scrollbar {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */
}
.modal__window {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal__content {
  display: flex;
  justify-content: flex-starts;
  text-align: left;
}
.modal__content ul {
  list-style-type: none;
}
.modal__content ul li {
  padding: 3px;
}
.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.5);
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1000px;
}
.row__container {
  display: flex;
  justify-content: flex-starts;
  overflow: auto;
}
.row__container:hover ~ .row__indicator {
  display: inline;
}
.row__content {
  width: 190px;
  height: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
}
.row__indicator {
  display: none;
  top: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.row__indicator:hover {
  display: inline;
}
.row__next {
  right: 0;
}
.row__previous {
  left: 0;
}

.best-movie {
  position: relative;
  width: 1000px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.best-movie__picture {
  width: 190px;
  height: 300px;
  border-radius: 2px;
}
.best-movie__title {
  position: absolute;
  top: 20%;
  left: 5%;
}
.best-movie__button {
  position: absolute;
  top: 40%;
  left: 5%;
}
.best-movie__button:hover {
  background-color: darkred;
  cursor: pointer;
}

/* width */

/*# sourceMappingURL=style.css.map */
